{% extends "base.html" %}
{% block content %}

	<div class="container"> 
		<p> Tähän näkymään tulee dropdown valikko, josta valitset jonkin ryhmistä johon kuulut. Valinnan tehtyäsi alas tulostaa ryhmän topicit (esim aakkosjärjestksessä ja korkeintaan 10 kerrallaan. Alas tulee valikko josta voi valita seuraavat 10). Yhdestä topicista Näytetään 5 uusinta viestiä ja ainakin kirjoittaja ja aikaleima. Mahdollisesti myös onko käyttäjä sen lukenut. Topicin alapuolella on open-nappi joka ohjaa topiciin, jossa näytetään kaikki viestit (tai esim. 10 ensimmäistä ja valikko) ja jossa topiciin voi vastata. New Topic -nappi on myös näkyvissä kaikille ja sillä saa luotua uuden topicin (lisään bootstrap Modal-ikkunan). Remove-nappi poistaa koko topicin ja se tulee käyttöön vain mikäli sikäli käyttäjä on moderaattori. Edit Group -nappi on myös näkyvillä vain modeille ja se vie omalle sivulleen.</p>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="groupMenu" data-toggle="dropdown"> Groups <span class="caret"></span></button>
			
			<ul class="dropdown-menu" role="menu" aria-labelledby="Groups">

			{% for group in groups %}
			<li> <a role="menuitem" tabindex="0" href="{{base_path}}/groups/{{group.id}}"> {{group.name}} </a></li>
			{% endfor %}

			</ul>
		</div>
	<div class="groupView">

		{% if message %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endif %}

		{% if errors %}
			{% for error in errors %}
	    		<div class="alert alert-danger">
	    			{{error}}
	    		</div>
    		{% endfor %}
		{% endif %}
		<h3> {{show.name}}
			<a href="{{base_path}}/groups/{{show.id}}/edit"> <button type="submit" class="btn btn-warning" style="float:right"> Edit Group </button> </a>
			<button type="button" class="btn btn-success" style="float:right" data-toggle="modal" data-target="#newTopic"> New Topic </button>
		</h3>

		{% for topic in topics %}

		<div class="oneTopic">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row" style="padding: 20px 0px 20px 0px">
							<div class="col-md-7"> {{messages[topic.id][0].content}} </div>
							<div class="col-md-2"> Writer </div>
							<div class="col-md-2"> {{messages[topic.id][0].posttime}} </div>
							<div class="col-md-1"> </div>
						</div>
					</div>

					<div class="panel-body">

					{% for message in messages[topic.id] %}
						{% if message != messages[topic.id][0] %}
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-7"> {{message.content}}</div>
							<div class="col-md-2"> Writer </div>
							<div class="col-md-2"> {{message.posttime}} </div>
							<div class="col-md-1"> </div>
						</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>
				<a class="btn btn-primary" href="{{base_path}}/topic/{{topic.id}}" role="button"> Open </a>
				<button type="submit" class="btn btn-danger" style="float:right"> Remove </button>
				<div style="padding-bottom: 40px"> </div>
		</div>

		{% endfor %}

		<div class="modal fade" id="newTopic" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<form role="form" method="post" action="{{base_path}}/groups/{{show.id}}">
							<div class="form-group">
								<label for="message"> Message: </label>
								<textarea class="form-control" rows="10" id="topic" name="topicContent"></textarea>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-send"></span> Send </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
  
{% endblock %}