{% extends "base.html" %}
{% block content %}

	<div class="container"> 
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="groupMenu" data-toggle="dropdown"> Groups <span class="caret"></span></button>
			
			<ul class="dropdown-menu" role="menu" aria-labelledby="Groups">

			{% for group in groups %}
			<li> <a role="menuitem" tabindex="0" href="{{base_path}}/groups/{{group.id}}"> {{group.name}} </a></li>
			{% endfor %}

			</ul>
			{% if account.ismod %}
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#newGroup"> Add group </button>
			{% endif %}

		</div>
	<div class="groupView">

		{% if message %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endif %}

		<h3> {{show.name}}

		{% if errors %}
			{% for error in errors%}
				<div class="alert alert-danger">
					{{error}}
				</div>
			{% endfor %}
		{% endif %}

		{% if account and show %}
			{% if account.ismod %}
				<a href="{{base_path}}/groups/{{show.id}}/edit"> <button type="submit" class="btn btn-warning" style="float:right"> Edit Group </button> </a>
			{% endif %}
			<button type="button" class="btn btn-success" style="float:right" data-toggle="modal" data-target="#newTopic"> New Topic </button>
		{% endif %}

		</h3>

		{% for topic in topics %}

		<div class="oneTopic">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row" style="padding: 20px 0px 20px 0px">
							<div class="col-md-7"> {{messages[topic.id][0].content}} </div>
							<div class="col-md-2"> {{messages[topic.id][0].getWriter().username}} </div>
							<div class="col-md-2"> {{messages[topic.id][0].posttime}} </div>
							<div class="col-md-1"> </div>
						</div>
					</div>

					<div class="panel-body">

					{% for message in messages[topic.id] %}
						{% if message != messages[topic.id][0] %}
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-7"> {{message.content}} </div>
							<div class="col-md-2"> {{message.getWriter().username}} </div>
							<div class="col-md-2"> {{message.posttime}} </div>
							<div class="col-md-1"> </div>
						</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2"> <a class="btn btn-primary" href="{{base_path}}/topic/{{topic.id}}" role="button"> Open </a> </div>
					<div class="col-md-2" style="float:right">
						{% if account %}
							{% if account.ismod %}
								<form method="post" action="{{base_path}}/remove/{{topic.id}}">
									<button class="btn btn-danger" type="submit" style="float:right"> Remove </button>	
								</form>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div style="padding-bottom: 40px"> </div>
		</div>

		{% endfor %}

		<div class="modal fade" id="newTopic" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<form role="form" method="post" action="{{base_path}}/groups/{{show.id}}">
							<div class="form-group">
								<label for="message"> Message: </label>
								<textarea class="form-control" rows="10" id="topic" name="topicContent"></textarea>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-send"></span> Send </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="newGroup" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<form role="form" method="post" action="{{base_path}}/addGroup">
							<div class="form-group">
								<label for="message"> Group name: </label>
								<input class="form-control" rows="10" id="group" name="groupName"></input>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-send"></span> Add </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
  
{% endblock %}