{% extends "base.html" %}
{% block content %}

	<div class="container"> 
		<p> Tähän näkymään tulee dropdown valikko, josta valitset jonkin ryhmistä johon kuulut. Valinnan tehtyäsi alas tulostaa ryhmän topicit (esim aakkosjärjestksessä ja korkeintaan 10 kerrallaan. Alas tulee valikko josta voi valita seuraavat 10). Yhdestä topicista Näytetään 5 uusinta viestiä ja ainakin kirjoittaja ja aikaleima. Mahdollisesti myös onko käyttäjä sen lukenut. Topicin alapuolella on open-nappi joka ohjaa topiciin, jossa näytetään kaikki viestit (tai esim. 10 ensimmäistä ja valikko) ja jossa topiciin voi vastata. Remove-nappi poistaa koko topicin ja se tulee käyttöön vain mikäli sikäli käyttäjä on moderaattori. Edit Group -nappi on myös näkyvillä vain modeille ja se vie omalle sivulleen.</p>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="groupMenu" data-toggle="dropdown"> Groups <span class="caret"></span></button>
			
			<ul class="dropdown-menu" role="menu" aria-labelledby="Groups">
				<li> <a role="menuitem" tabindex="0" href="#"> First Group </a></li>
				<li> <a role="menuitem" tabindex="1" href="#"> Second Group </a></li>
				<li> <a role="menuitem" tabindex="2" href="#"> Third Group </a></li>
				<li> <a role="menuitem" tabindex="3" href="#"> Fourth Group </a></li>
				<li> <a role="menuitem" tabindex="4" href="#"> Fifth Group </a></li>
			</ul>
		</div>
	<div class="groupView">
		<h3> Name of group <button type="submit" class="btn btn-warning" style="float:right"> Edit Group </button></h3>
		
		<div class="oneGroup">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row" style="padding: 20px 0px 20px 0px">
							<div class="col-md-10"> First topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
					</div>

					<div class="panel-body">
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-10"> Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-10"> Second Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-10"> Third Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-10"> Fourth Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
						<div class="row" style="padding: 20px 0px 20px 0px">
							<div class="col-md-10"> Fifth Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
					</div>
				</div>
				<a class="btn btn-primary" href="#" role="button"> Open </a>
				<button type="submit" class="btn btn-danger" style="float:right"> Remove </button>
				<div style="padding-bottom: 40px"> </div>
		</div>
		<div class="oneGroup">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row" style="padding: 20px 0px 20px 0px">
							<div class="col-md-10"> First topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
					</div>

					<div class="panel-body">
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-10"> Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-10"> Second Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-10"> Third Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
						<div class="row" style="padding: 20px 0px 20px 0px; border-bottom: 1px solid">
							<div class="col-md-10"> Fourth Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
						<div class="row" style="padding: 20px 0px 20px 0px">
							<div class="col-md-10"> Fifth Answer to first topic </div>
							<div class="col-md-1"> Writer </div>
							<div class="col-md-1"> Timestamp </div>
						</div>
					</div>
				</div>
				<a class="btn btn-primary" href="#" role="button"> Open </a>
				<button type="submit" class="btn btn-danger" style="float:right"> Remove </button>
				<div style="padding-bottom: 40px"> </div>
		</div>
	</div>
	
  
{% endblock %}